/* TITULO */
h1 {
    color: #2c786c;
    font-size: 350%;
    font-family: monospace;
    font-weight: 1000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0%;
}
/* SUBTITULO */
#subtitulo {
    color: #004445;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 10;
    text-align: center;
    margin-top: 0%;
}
/* MENU NAVEGADOR */
nav {
    color: #f8b400;
    font-size: medium;
    font-family: monospace;
    font-weight: 100;
}
/* SOBRE_MI */
.sobre_mi {
    background-color: #f8b400;
    color: #2c786c;
    padding: 5px;
    border-right: 20px solid transparent;
}
/* HABILIDADES */
.habilidades {
    background-color: #faf5e4;
    color: #2c786c;
    padding: 15px;
    border-right: 20px solid transparent;
}
/* PROYECTPOS */
.proyectos {
    background-color: #2c786c;
    color: #faf5e4;
    padding: 5px;
    border-right: 20px solid transparent;
}
/* EXPERIENCIA */
.experiencia {
    background-color: #004445;
    color: #faf5e4;
    padding: 5px;
    border-right: 20px solid transparent;
}
/* PIE DE PÁGINA */
.pie_de_pagina {
    background-color: #f8b400;
    padding: 5px;
}
/* PARRAFO_REGRESAR */
.parrafo_regresar {
    color: #004445;
    text-align: right;
}
.parrafo_regresar:hover {
    background-color: #f8b400;
}
/* PARRAFO_FOOTER */
.parrafo_footer {
    color: #004445;
    text-align: center;
}
/*FOOTER */
footer {
    height: 150px;
}
/* FOOTER_LINKS */
/* ASIDE */
aside {
    background-color: #faf5e4;
    color: #2c786c;
    text-align: right;
    font-size: x-large;
    font-family: monospace;
}
blockquote:hover {
    background-color: #004445;
    color: #faf5e4;
}
/* TÍTULOS DE SECCIONES */
h2 {
    font-size: x-large;
    font-family: monospace;
    font-weight: 900;
    text-align: left;
}
/* PÁRRAFOS */
p {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100; 
    text-align: justify;
}
/* ITEMS DE LISTAS */
li {
    font-size: large;
    font-family: monospace;
    font-weight: 500;
    text-align: left;
}
.li_enlace:hover {
    background-color: #f8b400;
    color: #faf5e4;
}

img {
    max-width: 500px;
    border-radius: 70% 70%;
    object-fit: scale-down;
}